.crystal-dream__bunner-container {
  background: url('../images/bunner.jpg');
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 0px 0px 65px 0px;
}

.crystal-dream__logo {
  width: 380px;
  height: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  margin: 0px auto;
  padding: 31px 0px 0px 0px;
  display: block;
}

.crystal-dream__logo--mobile {
  display: none;
}

.cristal-title,
.cristal-data,
.cristal-city {
  color: #fff;
}

@media (max-width: 550px) {
  .crystal-dream__logo {
    display: none;
  }

  .crystal-dream__logo--mobile {
    display: block;
    padding: 65px 0px 0px 0px;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
  }
}

@media (max-width: 400px) {
  .crystal-dream__bunner-container {
    background: url('../images/bunner.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 0px 0px 65px 0px;
  }

}