 .were-meet__bunner {
     background: url('../images/balloons-yellow.jpg');
     background-size: cover;
 }

 .first-elem.were-meet {
     height: 390px;
 }

 .second-elem.were-meet {
     height: 210px;
 }

 @media (max-width: 1000px) {
     .were-meet__bunner .line-scroll {
         left: 50px;
         top: 240px;
     }
 }