footer {
    display: flex;
    width: 100%;
    margin: 120px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    background: var(--main-color-dark);
}

.footer-logo__container {
    margin: 0px auto;
}

.footer__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: #ffff;
    font-family: var(--fw-family);
    font-size: var(--fsz-little);
    font-weight: var(--fw-medium);
}

.footer__flexbox a {
    color: #ffff;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 690px) {
    footer {
        width: 100%;
        padding: 55px 0px 55px 0px;
        margin: 65px 0px 0px 0px;
    }

    .footer-logo__container img {
        display: block;
        width: 250px;
        background-size: cover;
        background-repeat: no-repeat;
    }

}