@import url('../fonts/DINPro.css');
@import url('01-video-section.css');



:root {
  --main-color: #60C3D8;
  --other-color: #EF786F;
  --border-color: #E3E3E3;
  --bg-color-1: #F5F5F5;
  --bg-color-2: #C6C6C6;

  --fw-family: "DINPro", Arial, Helvetica, sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-black: 800;
  --fsz-little: 16px;
  --fsz-little-plus: 18px;
  --fsz-medium: 24px;
  --fsz-medium-plus: 34px;
  --fsz-big-plus: 63px;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--fw-family);
}


a {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

section {
  width: 100%;
  height: auto;

}

.center {
  width: 1266px;
  margin: 0px auto;
}

h1,
h2 {
  font-size: 63px;
  font-family: var(--fw-family);
}


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container__title {
  font-size: var(--fsz-big-plus);
  font-weight: var(--fw-bold);
  line-height: 50px;
}

.title-description__container {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title-container__data {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);

}

.title-container__city {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fw-medium);

}

.video__container {
  position: relative;
  width: 455px;
  height: 270px;

}

.video__container video {

  width: 455px;
  height: 270px;
  object-fit: cover;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;

}


.btn-video {
  cursor: pointer;
  position: absolute;
  transition: 0.3s ease top;
  -webkit-transition: 0.3s ease top;
  -moz-transition: 0.3s ease top;
  -ms-transition: 0.3s ease top;
  -o-transition: 0.3s ease top;
}

.video-play {
  background: url('../../images/icons/play.svg');
  width: 66px;
  height: 40px;
  top: calc(240px/2);
  right: calc(455px/2 - 66px/2);
}

.video-pause {
  background: url('../../images/icons/pause.svg');
  top: 284px;
  right: calc(455px/2 - 66px/2);
  width: 56px;
  height: 34px;
  background-size: cover;
}