@import url('../fonts/DINPro.css');
@import url('01-video-section.css');



:root {
  --main-color: #60C3D8;
  --other-color: #EF786F;
  --border-color: #E3E3E3;
  --bg-color-1: #F5F5F5;
  --bg-color-2: #C6C6C6;

  --fw-family: "DINPro", Arial, Helvetica, sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-black: 800;
  --fsz-little: 16px;
  --fsz-little-plus: 18px;
  --fsz-medium: 24px;
  --fsz-medium-plus: 34px;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

section {
  width: 100%;
  height: auto;

}

.center {
  width: 1266px;
  margin: 0px auto;
}

h1,
h2 {
  font-size: 63px;
  font-family: var(--fw-family);
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin: 120px 0px 55px 0px;
}

.title-text {
  font-size: var(--fsz-little);
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);
}